@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600;700&display=swap');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
a {
    text-decoration: none;
}
html,
body {
    font-family: 'Montserrat', sans-serif;
    line-height: 1.2;
    font-style: 16px;
    font-weight: 400;
    color: #1F1F1F;
    background-color: grey;
}

/* Other */
.container {
    width: 100%;
    max-width: 1200px;
    padding: 0 15px;
    margin: 0 auto;
}
.flex {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

/* Header */
.header {
    padding: 15px 0;
    background: linear-gradient(180deg, rgba(0, 0, 0, 0.4) 0%, rgba(0, 0, 0, 0) 100%);
    border-bottom: 1px solid rgb(255 255 255 / 25%);
    position: relative;
    z-index: 5;
}
.header .flex {
    align-items: center;
}
.logo {
    display: flex;
    align-items: center;
    margin-right: 70px;
}
.logo_img {
    width: 44px;
    height: 45px;
    margin-right: 8px;
}
.logo_img img {
    width: 100%;
    height: 100%;
}
.logo_text span {
    font-weight: 700;
    font-size: 13px;
    line-height: 16px;
    display: block;
    color: #1F1F1F;
    transition: color 0.4s;
}
.logo:hover span,
.white .logo:hover span {
    color: #22B728;
}
.logo_text span:last-child {
    margin-left: 10px;
}
.menu {
    display: flex;
    list-style: none;
}
.menu li {
    margin-right: 30px;
}
.menu li:last-child {
    margin-right: 0;
}
.menu a {
    font-weight: 400;
    font-size: 16px;
    line-height: 20px;
    color: #1F1F1F;
    transition: color 0.4s;
}
.menu a:hover,
.white .menu a:hover {
    color: #22B728;
}
.profilenav_link {
    margin-right: 30px;
    display: inline-block;
}
.profilenav_link svg {
    width: 24px;
    height: 24px;
}
.profilenav_link path{
    transition: stroke 0.4s;
}
.profilenav_link:hover path,
.white .profilenav_link:hover path{
    stroke: #22B728;
}
.profilenav_menu {
    position: relative;
    width: 24px;
    height: 24px;
    display: inline-block;
}
.profilenav_menu span {
    position: absolute;
    background: #1F1F1F;
    left: 1px;
    right: 1px;
    height: 2px;
    border-radius: 1px;
    transition: background 0.4s;
}
.profilenav_menu span:nth-child(1) {
    top: 2px;
}
.profilenav_menu span:nth-child(2) {
    top: 11px;
}
.profilenav_menu span:nth-child(3) {
    top: 20px;
}
.profilenav_menu.active span:nth-child(1) {
    transform: rotate(-45deg);
    top: 12px;
}
.profilenav_menu.active span:nth-child(2) {
    display: none;
}
.profilenav_menu.active span:nth-child(3) {
    transform: rotate(45deg);
    top: 12px;
}
.profilenav_menu:hover span,
.white .profilenav_menu:hover span {
    background: #22B728;
}
.white .profilenav_menu span {
    background: #fff;
}
.white .menu a {
    color: #fff;
}
.white .logo span {
    color: #fff;
}
.white .profilenav_link path{
    stroke: #fff;
}

/* Mainbanner */
.mainbanner {
    background: url('../images/mainbanner.png') no-repeat;
    background-size: cover;
    height: 100vh;
    min-height: 750px;
    margin-top: -76px;
    position: relative;
}
.mainbanner_shadov {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    z-index: 1;
    background: linear-gradient(180deg, rgba(0, 0, 0, 0) 46.78%, rgba(0, 0, 0, 0.8) 100%);
}
.mainbanner .flex {
    flex-direction: column;
    justify-content: space-between;
    height: 100%;
}
.mainbanner_text {
    font-weight: 700;
    font-size: 200px;
    line-height: 244px;
    color: #FFFFFF;
    position: relative;
}
.mainbanner_text:first-child {
    margin-top: 115px;
    z-index: 2;
}
.mainbanner_text:last-child {
    text-align: right;
    margin-bottom: 115px;
    z-index: 4;
}
.mainbanne_img {
    position: absolute;
    bottom: 0;
    left: calc(50%);
    transform: translateX(-50%);
    z-index: 3;
    height: 72vh;
    min-height: 540px;
}


/* Maincontent */
.maincontent {
    background: url('../images/maincontent_top.svg') no-repeat center -20px, url('../images/maincontent_bottom.svg') no-repeat center bottom, #fff;
    background-size: 100% auto;
    position: relative;
}
.maincontent_fon {
    background: url('../images/maincontent_bear.png') no-repeat center top;
    background-size: 1145px auto;
    height: 1120px;
    position: absolute;
    top: 160px;
    left: 0;
    right: 0;
}
.sheet1 {
    position: absolute;
    background: url('../images/sheet1.png') no-repeat;
    background-size: 100% 100%;
    width: 132px;
    height: 184px;
    right: 0;
    top: 30px;
}
.sheet2 {
    position: absolute;
    background: url('../images/sheet2.png') no-repeat;
    background-size: 100% 100%;
    width: 136px;
    height: 235px;
    left: 0;
    top: 420px;
}
.sheet3 {
    position: absolute;
    background: url('../images/sheet3.png') no-repeat;
    background-size: 100% 100%;
    width: 212px;
    height: 313px;
    right: 0;
    top: 840px;
}
.categories {
    display: grid;
    gap: 35px;
    grid-template-areas:
    'item1 item2 item3 item4'
    'item5 item6 item7 item7'
    'item8 item8 item7 item7'
    'item9 item10 item11 item12'
    'item13 item13 item14 item15';
}
.item1 {
    grid-area: item1;
}
.item2 {
    grid-area: item2;
}
.item3 {
    grid-area: item3;
}
.item4 {
    grid-area: item4;
}
.item5 {
    grid-area: item5;
}
.item6 {
    grid-area: item6;
}
.item7 {
    grid-area: item7;
}
.item8 {
    grid-area: item8;
}
.item9 {
    grid-area: item9;
}
.item10 {
    grid-area: item10;
}
.item11 {
    grid-area: item11;
}
.item12 {
    grid-area: item12;
}
.item13 {
    grid-area: item13;
}
.item14 {
    grid-area: item14;
}
.item15 {
    grid-area: item15;
}
.categories_item {
    height: 200px;
    overflow: hidden;
    position: relative;
    border-radius: 5px;
}
.categories_item.item7 {
    height: 435px;
}
.categories_item p {
    position: absolute;
    bottom: 10px;
    left: 10px;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.4;
    padding: 5px 10px;
    background: #fff;
    border-radius: 16px;
    color: #1F1F1F;
}